<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

	<head>
		<title>Rango</title>
	</head>

	<body>
		<h1>Rango says... hello world</h1>
		
		{% if categories %}
			<ul>
				{% for category in categories %}
				<li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories to present.</strong>
		{% endif %}
		<br />
		<h2>Top 5 Pages</h2>
		{% if top_pages %}
			<ul>
				{% for page in top_pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>You have no top pages yet.</strong>
		{% endif %}
		<br />
		<br />
		
		

		<a href="/rango/about/">About</a><br />
		<a href="/rango/add_category/">Add a new Category</a><br />
		<img src="{% static "munster.jpg" %}" alt="Picture of Munster" /> <!-- New line -->
	</body>

</html>
